In [52]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [53]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] -

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 95.0.4638
[WDM] - Get LATEST driver version for 95.0.4638
[WDM] - Driver [C:\Users\bindu\.wdm\drivers\chromedriver\win32\95.0.4638.54\chromedriver.exe] found in cache

In [ ]:
#Connecting to NASA site
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [ ]:
news_html = browser.html
soup = BeautifulSoup(news_html,'html.parser')

In [ ]:
#
# Retrieve the latest News Title and Paragraph Text
result = soup.find('div',class_="list_text")
news_title = result.text

news_p = result.find('div',class_="article_teaser_body").text

print(f"news_title: {news_title}")
print(f"news_p: {news_p}")

In [ ]:
# Navigate to the page
img_url = 'https://spaceimages-mars.com/'
browser.visit(img_url)
imgs_html = browser.html
# Parse HTML with Beautifulsoup
soup = BeautifulSoup(imgs_html,'html.parser')

In [ ]:
img_result = soup.find('img',class_='headerimage')

image_url=image['src']
featured_image_url = f"https://spaceimages-mars.com/{image_url}"

print(featured_image_url)

In [54]:

# Navigate to the page
hemisphere_url = 'https://marshemispheres.com/'
browser.visit(hemisphere_url)
hemisphere_html = browser.html
soup = BeautifulSoup(hemisphere_html,'html.parser')

In [56]:
# Collect the urls for the hemisphere images
items = soup.find_all("div", class_="item")

main_url = "https://marshemispheres.com/"
hemisphere_urls = []
for item in items:
    hemisphere_urls.append(f"{main_url}{item.find('a', class_='itemLink')['href']}")

print(*hemisphere_urls, sep = "\n")

https://marshemispheres.com/cerberus.html
https://marshemispheres.com/schiaparelli.html
https://marshemispheres.com/syrtis.html
https://marshemispheres.com/valles.html

In [58]:
# Create a list to store the data
hemisphere_image_urls=[]
# Loop through each url
for url in hemisphere_urls:
    # Navigate to the page
    browser.visit(url)
    
 
    
    # Assign the HTML content of the page to a variable
    hemisphere_html = browser.html
    # Parse HTML with Beautifulsoup
    soup = BeautifulSoup(hemisphere_html,'html.parser')
    img_url = soup.find('img', class_="wide-image")['src']
    title = soup.find('h2', class_="title").text
    hemisphere_image_urls.append({"title":title,"img_url":f"https://marshemispheres.com/{img_url}"})

In [60]:

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [62]:
url='https://galaxyfacts-mars.com/'
tables=pd.read_html(url)
df=tables[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [ ]:
df.rename(columns={0:'Description',
                  1:'Mars',
                  2:'Earth'},inplace=True)


df.set_index('Description',inplace=True)
df

In [68]:
html_table=df.to_html()

In [70]:
html_table.replace('\n','')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>    <tr>      <th>Description</th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Mars - Earth Comparison</th>      <td>Mars</td>      <td>Earth</td>    </tr>    <tr>      <th>Diameter:</th>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>Moons:</th>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>Distance from Sun:</th>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>Length of Year:</th>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>Temperature:</th>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [72]:
df.to_html('table.html')